<div id="<%= dom_id orders_menu %>">
  <p>
    <strong>Order:</strong>
    <%= orders_menu.order_id %>
  </p>

  <p>
    <strong>Menu:</strong>
    <%= orders_menu.menu_id %>
  </p>

  <p>
    <strong>Integer:</strong>
    <%= orders_menu.integer %>
  </p>

</div>
