<h1>Editing orders menu</h1>

<%= render "form", orders_menu: @orders_menu %>

<br>

<div>
  <%= link_to "Show this orders menu", @orders_menu %> |
  <%= link_to "Back to orders menus", orders_menus_path %>
</div>
